/* 0 RESET -VOY A RESETEAR TODO A CERO CON EL SIGUIENTE CODIGO QUE VIENE A CONTINUACION */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* TODO ESTOS COMANDOS SE SACARON DE UNA PAGINA DE INTERNET PARA RESETEAR A CERO ABSOLUTAMENTE TODO LO QUE VIENEN POR DEFECTO EN EL NAVEGADORY HACERLO A NUESTRAMANERA */

/* GENERAL */
body {
  text-align: center;
  font: 300 20px/1.7 /* el 1.7 es interlineado*/ "Roboto Condensed";
  max-height: 100%; 
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
} /* display justify content y aling items normalmente van juntos para alinear y centrar todo*/


.header {
  height: 450px;
  background: url(../images/dummy-header.jpg) no-repeat center top;
  /*los .. son para decirle que suba un nivel en la carpeta, y el cover es para que cobra todo el ancho */
  background-size: cover;
}

.header h1 img {
  border-radius: 50%;
}

/* NAVEGACION */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #213447;
  top: 0px;
  width: 100%;
  height: 50px;
  position: fixed;
}
.navbar {
  height: 65px;
  background: #2c3e50;
  border-bottom: 1px dashed #3498db;
  z-index: 99; /*Para que se superponga a las imágenes*/
}
.navbar a {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font: 20px "Stint Ultra Condensed";
  transition: all 0.4s ease-in;
}

.navbar a:hover {
  color: salmon;
}

/* GENERAL A TODOS LOS QUE TIENEN CONTENIDO */
.content {
  padding: 50px 0;
}
/* GENERAL A TODOS LOS TITULOS */
.title {
  margin-bottom: 10px;
  font: 60px "Stint Ultra Condensed";
  text-transform: uppercase;
}
/* PARA INTRODUCCION */
.Introduccion {
  background: #2c3e50;
  color: #fff;
}
.Introduccion p {
  max-width: 1050px;
  margin: auto auto;
}
/* PARA CONCEPTOS */
.conceptos {
  background: #34495e;
  color: #fff;
}

.conceptos p {
  max-width: 90%;
  margin: auto auto;
  border-bottom: 2px solid orange;
  padding-bottom: 2px;
}

.primero {
  display: inline-flex;
}

.primero p {
  align-content: center;
  padding: 20px;
}
.primero img {
  border-radius: 20%;
  max-height: 400px;
  padding: 25px;
}
.primero .uno {
  max-width: 400;
}

/* PARA FUNCION DE PC */
.funcion-pc {
  /* Saqué la imagen de fondo porque dificulta mucho leer
  *
  * background: url(../images/ing-industrial1.jpg) center;*/
  background-color: #2c3e50;
  background-size: cover;
  color: #fff;
}
.funcion-pc p {
  max-width: 800px;
}

.contain {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.contain div p{
  border-bottom: orange dashed;
}
.contain img {
  border-radius: 15%;
  opacity: 80%;
  margin-left: 30px;
}
/* PARA DRIVERS */

.driver{
  background-color: rgb(32, 32, 78);
  color: white;
}
.driver h2{
  box-shadow:  5px 5px 5px 5px rgb(167, 167, 212);
}

.primeraParte {
  padding: 30px;
}
.primeraParte p{
  margin-bottom: 20px;
  color: aquamarine;
  border: azure dashed;
}
.primeraParte img{
  opacity: 80%;
}

/* PROCESANDO SEÑALES DHI */
.segundaParte, .terceraParte{
  margin: 0px 80px;
}

.segundaParte h3 , .terceraParte h3, .cuartaParte h3, .quintaParte h3, .sextaParte h3 {
  font-size: 30px;
  color: fff;
  border-bottom: peru dotted;

}
.segundaParte p{
  padding-bottom: 30px;
}
.segundaParte ul li{
  display: flex;
  border: solid salmon;
}

/* DISPOSITIVO CONECTADO A TRAVES DE USB */
.terceraParte{
  margin: auto;
  padding: 50px;
  background-image: url(../images/img9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.terceraParte h4{  
  font-weight: bolder;
  font-family: cursive;
  font-size: 40px;
} 
/* TRANSMISION DE DATOS ENTRE PC Y COMPU */
.cuartaParte{
  background-image: url(../images/img10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px;
}

.intro-4taparte {
  margin: 0px 200px 50px;
  padding: 15px;  
}

.span{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aqua;
}


.desarrollo ul{
  margin-top: 25px;
  position: static;
}

.desarrollo ul img {
  opacity: 80%;
}

/* Paso a paso de una conexión dispositivo (periférico) - host (anfitrión) */

.quintaParte{
  margin: 80px;
}
.quintaParte p{
  padding-bottom: 50px;
}

.items ol li{
  padding: 15px 0px
}

/* RETIRO DEL DISPOSITIVO */

.sextaParte{
  background: #213447;
  padding: 20px 300px;
  
}


/* PARA EL PIE */

.pie{
  background-color: rgb(66, 92, 112);
  display: flex;
  position: sticky;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  min-height: 80px;
  color: whitesmoke;
}

.pie p{
  border: 1px black solid;
  padding: 4px;
}

